

       <section class="bg-color">
        <div class="containers">
            <div class="title">
                <p>The Best Seller of Hitheme</p>
                <h1><span>Best</span>Seller</h1>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-main">
                        <div class="discount">9%</div>
                        <div class="label label-green">Pre-Order</div>
                        <div class="product-container">
                            <div class="p1" (mouseover)="changeImage($event)"><img src="assets/mobile.jpg" alt="Product" ></div>
                            <div class="p1"  (mouseover)="changeImage($event)"><img src="assets/laptop.jpg" alt="Product"></div>
                            <div class="p1"  (mouseover)="changeImage($event)"><img src="assets/watch.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="Image">
                        </div>
                        <div class="card-line"></div>
                        <div class="card-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="old-price">$81.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                    <div class="discount">9%</div>
                    <div class="label label-green">Pre-Order</div>
                    <div class="product-container">
                        <div class="p1" (mouseover)="secondImage($event)"><img src="assets/girl.jpg" alt="Product" ></div>
                        <div class="p1"  (mouseover)="secondImage($event)"><img src="assets/boy.jpg" alt="Product"></div>
                        <div class="p1"  (mouseover)="secondImage($event)"><img src="assets/dress.jpg" alt="Product"></div>
                    </div>
                    <div class="image">
                        <img src="{{secondurl}}" alt="Image">
                    </div>
                    <div class="card-line"></div>
                    <div class="card-item">
                        <ul>
                            <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a href=""><i class="fa fa-heart"></i></a></li>
                            <li><a href=""><i class="fa fa-search"></i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="content">
                    <a href="">Incidid Tongue Bar</a>
                    <div class="rating">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p><span class="money">$81.00</span><span class="old-price">$81.00</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-main">
                <div class="discount">9%</div>
                <div class="label label-green">Pre-Order</div>
                <div class="product-container">
                    <div class="p1" (mouseover)="thirdImage($event)"><img src="assets/bottle.jpg" alt="Product" ></div>
                    <div class="p1"  (mouseover)="thirdImage($event)"><img src="assets/bag.jpg" alt="Product"></div>
                    <div class="p1"  (mouseover)="thirdImage($event)"><img src="assets/lunchbox.jpg" alt="Product"></div>
                </div>
                <div class="image">
                    <img src="{{third}}" alt="Image">
                </div>
                <div class="card-line"></div>
                <div class="card-item">
                    <ul>
                        <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                        <li><a href=""><i class="fa fa-heart"></i></a></li>
                        <li><a href=""><i class="fa fa-search"></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="content">
                <a href="">Incidid Tongue Bar</a>
                <div class="rating">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p><span class="money">$81.00</span><span class="old-price">$81.00</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-main">
            <div class="discount">9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
                <div class="p1" (mouseover)="fourthImage($event)"><img src="assets/gshoes.jpg" alt="Product" ></div>
                <div class="p1"  (mouseover)="fourthImage($event)"><img src="assets/bshoes.jpg" alt="Product"></div>
                <div class="p1"  (mouseover)="fourthImage($event)"><img src="assets/shoes.jpg" alt="Product"></div>
            </div>
            <div class="image">
                <img src="{{fourth}}" alt="Image">
            </div>
            <div class="card-line"></div>
            <div class="card-item">
                <ul>
                    <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                    <li><a href=""><i class="fa fa-heart"></i></a></li>
                    <li><a href=""><i class="fa fa-search"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="content">
            <a href="">Incidid Tongue Bar</a>
            <div class="rating">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$81.00</span><span class="old-price">$81.00</span></p>
        </div>
    </div>
</div>

        </div>
        </div>
       </section> 