<!-- 
    <nav class="navbar navbar-expand-lg"> 
        <a class="navbar-brand">
            <img class="img1" src="assets/wblogo.jpg">
        </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#abc">
                <span class="navbar-toggler-icon"></span>
            </button>
        
        <div class="collapse navbar-collapse  justify-content-end" id="abc">
            <ul class="navbar-nav" >
                <li class="nav-item p-3"><a class="nav-link" href=""><b>Home</b></a></li>
                <li class="nav-item p-3"><a class="nav-link" href="#sevices"><b>Sevices</b></a></li>
                <li class="nav-item p-3"><a class="nav-link" href="#contact"><b>Contact</b></a></li>
                <li class="nav-item p-3"><a class="nav-link" href="#courses"><b>Courses</b></a></li>

            </ul>
        </div>
       </nav>
       <img class="student" src="assets/stuimg.jpg" width="100%" height="600px">
        <div class="container my-2">
            1 row
            <h2 class="text" id="sevices">SERVICES</h2>
            <div class="row my-2">
                <div class="col-md-4 col-sm-4 my-2">
                    <img class="rounded-circle img-responsive" src="assets/netsevicesimg.jpg" width="300" height="300">
                     <h4 class="text-center my-3" >Network Design, Configuration and Support</h4><br>
                <p>WB Computer Services, LLC has been providing IT services to Central Texas K-12 schools and businesses for over 25 years. We offer a wide variety of services that can be customize to meet your specific needs. </p>
              </div>

              <div class="col-md-4 col-sm-4 my-3">
                <img class="rounded-circle img-responsive" src="assets/keywordimg.jpg" width="300" height="300">
           <h4 class="text-center my-1">IT Support </h4><br><br>
           <p>We are available to consult with your or your staff when problems arise with your technology. Our company can offer on-site or remote support depending on your budget and needs..</p>
            </div>
             
            <div class="col-md-4 col-sm-4 my-2">
                <img class="rounded-circle img-responsive" src="assets/boyimg.jpg" width="300" height="300">
             <h4 class="text-center my-2">Managed Services</h4><br><br>
             <p>We can offer you a customized plan to manage your IT services on a regular basis. We can create a plan that will feet your organization's specific needs.                     </p>
            </div>
           </div>
          2 row
       
          <h2 class="text my-4" id="contact">CONTACT</h2>
          <div class="row">
            <div class="col-md-6 col-sm-6 my-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1120.4009034320804!2d73.93337274672055!3d18.502251061538086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c1f8a2cdfb13%3A0xad9d892d4dae410!2s274%2C%20World%20Blazings%20Computer%20Solutions%20IN%20Hadapsar%20%7C%20C%20%7C%20C%2B%2B%20%7C%20JAVA%20%7C%20Python%20%7C%20Graphic%20Designing%7C%20Full%20Stack%20developer%20%7C%20PHP%20%7C%20Tally%20%7C%20Advance%20Excel%20%7C%20Internship%20In%20Pune%20%7C%20Kothrud%20%7C%20Fc%20Road%20%7C%20Karve%20Nagar%2C%20New%20English%20School%2C%20Ramoshi%20Ali%2C%20Hadapsar%20Gaon%2C%20Hadapsar%2C%20Pune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1633504991892!5m2!1sen!2sin" style="height:400px;width: 500px;" ></iframe>

             </div>
           
             <div class="col-md-6 col-sm-6 my-2">
                <form action="/action_page.php">
                    <div class="mb-3 mt-3">
                        <label for="text" class="form-label">Name:</label>
                        <input type="text" class="form-control"  placeholder="Enter name" name="name">
                      </div>

                      <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" placeholder="Enter email" name="mail">
                      </div>

                      <div class="mb-3 mt-3">
                        <label for="number" class="form-label">Moblie:</label>
                        <input type="number" class="form-control" placeholder="Enter moblie number" name="number">
                      </div>

                      <div class="mb-3 mt-3">
                        <label for="text" class="form-label">Massage:</label>
                        <input type="text" class="form-control" placeholder="Enter message" name="text">
                      </div>

                    <input type="submit" value="Submit">
                  </form>
                
               
        

            </div>
           </div>

           3row
           <h2 class="text my-5" id="courses" >COURSES</h2>
           <div class="row">
            <div id="demo1" class="carousel slide" data-ride="carousel">

                Indicators
                <ul class="carousel-indicators">
                  <li data-target="#demo1" data-slide-to="0" class="active"></li>
                  <li data-target="#demo1" data-slide-to="1"></li>
                  <li data-target="#demo1" data-slide-to="2"></li>
        
        
                </ul>
                <div class="carousel-inner">
                <div class="carousel-item active"> 
                    <div class="row">

                        <div class="col-sm-4 col-md-4">
                            <img class="lastimg1" src="assets/java.jpg" width="330" height="200">
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <img class="lastimg1"  src="assets/php.jpg" width="330" height="200">
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <img class="lastimg1" src="assets/pythonimg.jpg"width="330" height="200">
                        </div> 
                        
                    </div>
         </div>
         <div class="carousel-item">
            <div class="row">
            <div class="col-sm-4 col-md-4">
                <img class="lastimg1" src="assets/html.jpg" width="330" height="200">
            </div>
            <div class="col-sm-4 col-md-4">
                <img class="lastimg1" src="assets/boostrap.jpg" width="330" height="200">
            </div>
            <div class="col-sm-4 col-md-4">
                <img class="lastimg1" src="assets/js.jpg"width="330" height="200">
            </div> 
            </div>
         </div>
         <div class="carousel-item">
            <div class="row">
            <div class="col-sm-4 col-md-4">
                <img class="lastimg2" src="assets/angular.jpg" width="330" height="200">
            </div>
            <div class="col-sm-4 col-md-4">
                <img class="lastimg2" src="assets/react.jpg" width="330" height="200">
            </div>
            <div class="col-sm-4 col-md-4">
                <img class="lastimg2" src="assets/boostrap.jpg"width="330" height="200">
            </div> 
            </div>
         </div>    
                </div>

         </div>

         </div>

        </div>
        4row
        <div class="container-fluid">
            <div class="row my-4 ">
              <div class="col-md-4 col-sm-4 my-5">
               <img class="k" src="assets/wblogo.jpg"><br><br>
               <p class="text-center" >Failure is central to engineering. every single calculation that an engineer makes is a failure calculation. Successful engineering is all about understanding how things break of fail. </p>
              </div>
              <div class="col-md-4 col-sm-4 my-5">
                  <h5 class="text-center"><b>Sitemap</b></h5><br>
                  <p class="text-center"><li>Home</li><br><li>Sevices</li><br><li>Contact</li><br><li>Courses</li></p>
              </div>
              <div class="col-md-4 col-sm-4 my-5">
                  <h5 class="text-center "><b>Contact us</b></h5><br><br>
                   <p>World blazing computer solution, Behind Vaibhav theater, near 32 no. School hadapsar pune 28

                      Amanora Chamber, 3 rd floor, Hadapsar Pune 28
                      
                      Vision Software Solution, Sunrise Building, Shop No. 207, opposite vishwaraj hospital, near MIT college, Loni kalbhor
                      
                      9156166624 / 8459816185
                      
                      contact@worldblazings.com
                      
                      </p>
              </div>
                 
            </div>

      </div> -->

       <!-- 2nd project -->

       <!-- Add to Shopping Cart in Angular 13| Angular 13 Tutorial| Ecommerce in Angular| Angular Shopping Cart -->

       <section class="bg-color">
        <div class="containers">
            <div class="title">
                <p>The Best Seller of Hitheme</p>
                <h1><span>Best</span>Seller</h1>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-main">
                        <div class="discount">9%</div>
                        <div class="label label-green">Pre-Order</div>
                        <div class="product-container">
                            <div class="p1" (mouseover)="changeImage($event)"><img src="assets/mobile.jpg" alt="Product" ></div>
                            <div class="p1"  (mouseover)="changeImage($event)"><img src="assets/laptop.jpg" alt="Product"></div>
                            <div class="p1"  (mouseover)="changeImage($event)"><img src="assets/watch.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="Image">
                        </div>
                        <div class="card-line"></div>
                        <div class="card-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="old-price">$81.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                    <div class="discount">9%</div>
                    <div class="label label-green">Pre-Order</div>
                    <div class="product-container">
                        <div class="p1" (mouseover)="secondImage($event)"><img src="assets/girl.jpg" alt="Product" ></div>
                        <div class="p1"  (mouseover)="secondImage($event)"><img src="assets/boy.jpg" alt="Product"></div>
                        <div class="p1"  (mouseover)="secondImage($event)"><img src="assets/dress.jpg" alt="Product"></div>
                    </div>
                    <div class="image">
                        <img src="{{secondurl}}" alt="Image">
                    </div>
                    <div class="card-line"></div>
                    <div class="card-item">
                        <ul>
                            <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a href=""><i class="fa fa-heart"></i></a></li>
                            <li><a href=""><i class="fa fa-search"></i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="content">
                    <a href="">Incidid Tongue Bar</a>
                    <div class="rating">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p><span class="money">$81.00</span><span class="old-price">$81.00</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-main">
                <div class="discount">9%</div>
                <div class="label label-green">Pre-Order</div>
                <div class="product-container">
                    <div class="p1" (mouseover)="changeImage($event)"><img src="assets/bottle.jpg" alt="Product" ></div>
                    <div class="p1"  (mouseover)="changeImage($event)"><img src="assets/bag.jpg" alt="Product"></div>
                    <div class="p1"  (mouseover)="changeImage($event)"><img src="assets/lunchbox.jpg" alt="Product"></div>
                </div>
                <div class="image">
                    <img src="{{url}}" alt="Image">
                </div>
                <div class="card-line"></div>
                <div class="card-item">
                    <ul>
                        <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                        <li><a href=""><i class="fa fa-heart"></i></a></li>
                        <li><a href=""><i class="fa fa-search"></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="content">
                <a href="">Incidid Tongue Bar</a>
                <div class="rating">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p><span class="money">$81.00</span><span class="old-price">$81.00</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-main">
            <div class="discount">9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
                <div class="p1" (mouseover)="changeImage($event)"><img src="assets/gshoes.jpg" alt="Product" ></div>
                <div class="p1"  (mouseover)="changeImage($event)"><img src="assets/bshoes.jpg" alt="Product"></div>
                <div class="p1"  (mouseover)="changeImage($event)"><img src="assets/shoe.jpg" alt="Product"></div>
            </div>
            <div class="image">
                <img src="{{url}}" alt="Image">
            </div>
            <div class="card-line"></div>
            <div class="card-item">
                <ul>
                    <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                    <li><a href=""><i class="fa fa-heart"></i></a></li>
                    <li><a href=""><i class="fa fa-search"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="content">
            <a href="">Incidid Tongue Bar</a>
            <div class="rating">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$81.00</span><span class="old-price">$81.00</span></p>
        </div>
    </div>
</div>

        </div>
        </div>
       </section>